.app-booking {
    .content {
        padding: 0 30px 30px;
        min-height: calc(100vh - 123px);
        margin-top: -30px;
    }

    .separator-line {
        width: 100%;
        border-bottom: 1px solid rgba(130, 124, 124, 0.5);
        margin-bottom: 10px;
    }

    .empty-label {
        width: 100%;
    }

    .btn {
        &.btn-xs {
            line-height: 0.9em;
            margin-top: 0;
        }
    }

    .trip-select {
        display: flex;
        justify-content: space-evenly;
    }

    .form-control-container {
        label {
            font-weight: 700;
        }
    }

    .form-control {
        min-width: 250px;
    }
    .radio-container {
        display: inline-block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            &:checked ~ .checkmark {
                background-color: #2196F3;
                &:after {
                    display: block;
                }
            }
        }

        &:hover input ~ .checkmark {
            background-color: #ccc;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border-radius: 50%;
    
            &:after {
                content: "";
                position: absolute;
                display: none;
            }
            &:after {
                top: 9px;
               left: 9px;
               width: 8px;
               height: 8px;
               border-radius: 50%;
               background: white;
           }   
        }
    }
    
  
    .flight-table {
        margin-top: 20px;

        th, td {
            text-align: center;
        }
        tbody > tr > td {
            padding: 5px;
        }
    }

    .spread {
        display: flex;
        justify-content: space-evenly;
        .circle-corners {
            border: 1px solid;
            border-radius: 50px;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}