# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/ui/dist
/ui/tmp
/ui/out-tsc

# dependencies
/back/node_modules
/ui/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/ui/.sass-cache
/ui/connect.lock
/ui/coverage
/ui/libpeerconnection.log
/ui/npm-debug.log
/back/npm-debug.log
/ui/yarn-error.log
/ui/testem.log
/ui/typings

# System Files
/ui/.DS_Store
/back/.DS_Store
/ui/Thumbs.db
/back/Thumbs.db
/arron-project/.editorconfig
/arron-project/.gitignore
/arron-project/angular.json
/arron-project/e2e/protractor.conf.js
/arron-project/e2e/src/app.e2e-spec.ts
/arron-project/e2e/src/app.po.ts
/arron-project/e2e/tsconfig.e2e.json
/arron-project/package.json
/arron-project/package-lock.json
/arron-project/README.md
/arron-project/src/app/app.component.css
/arron-project/src/app/app.component.html
/arron-project/src/app/app.component.spec.ts
/arron-project/src/app/app.component.ts
/arron-project/src/app/app.module.ts
/arron-project/src/assets/.gitkeep
/arron-project/src/browserslist
/arron-project/src/environments/environment.prod.ts
/arron-project/src/environments/environment.ts
/arron-project/src/favicon.ico
/arron-project/src/index.html
/arron-project/src/karma.conf.js
/arron-project/src/main.ts
/arron-project/src/polyfills.ts
/arron-project/src/styles.css
/arron-project/src/test.ts
/arron-project/src/tsconfig.app.json
/arron-project/src/tsconfig.spec.json
/arron-project/src/tslint.json
/arron-project/tsconfig.json
/arron-project/tslint.json
/front/
