<app-main-nav></app-main-nav>

<div class="app-booking">
  <div class="content">
    
    <div class="row">
        <div class="sidebar" data-color="orange">
            <!--
              Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
          -->
            <div class="logo">
              <h4 class="head-title">Client Dashboard</h4>
            </div>
            <div class="sidebar-wrapper">
              <ul class="nav">
                <li>
                  <a href="./dashboard.html">
                    <i class="now-ui-icons design_app"></i>
                    <p>Client fullname</p>
                  </a>
                </li>
                <li class="active ">
                  <a href="./icons.html">
                    <i class="now-ui-icons education_atom"></i>
                    <p>Birthdate--</p>
                  </a>
                </li>
                <li>
                  <a href="./map.html">
                    <i class="now-ui-icons location_map-big"></i>
                    <p>Maps</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      <div class="col-md-3"></div>
      <div class="col-md-4">
        <div class="card color2 card-over">
          <div class="card-header">
            <h5 class="head-title">Booked Flights</h5>
          </div>
          <div class="card-body">
            <div class="flight-table">
              <div class="separator-line"></div>
              <div class="row-inline">
                <div class="card color1">
                  <div class="card-header">
                  </div>
                  <div class="card-body">
                        <h5 class="head-title" >Booked 1</h5>         
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
          <div class="card color2 card-over">
            <div class="card-header">
              <h5 class="head-title">Client Dashboard</h5>
            </div>
            <div class="card-body">
              <div class="flight-table">
                <div class="separator-line"></div>
                <div class="row-inline">
                  <div class="card color1">
                    <div class="card-header">
                      <h6 class="title">Booked Flight</h6>
                    </div>
                    <div class="card-body">
                      <div class="card clickable">
                        <div class="card-body">
                          <h4>Booked 1</h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body margined">
                      <div class="card clickable">
                        <div class="card-body">
                          <h4>Booked 2</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>