<div class="content">
  <div class="container">
    <div class="margined">

      <div class="card-login">
        <div class="card" *ngIf="loginClient">
          <div class="card-header">
            <h5 class="title">Client Login</h5>
          </div>
          <div class="card-body">

            <div class="form-group column">
              <label>Email</label>
              <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-group column">
              <label>Password</label>
              <input type="text" class="form-control" placeholder="Password">
            </div>


          </div>  
        </div>
        <div class="card" *ngIf="!loginClient">
            <div class="card-header">
              <h5 class="title">Admin Login</h5>
            </div>
            <div class="card-body">
  
              <div class="form-group column">
                <label>Admin ID</label>
                <input type="text" class="form-control" [(ngModel)]="adminData.adminId" placeholder="ID">
              </div>
              <div class="form-group column">
                <label>Password</label>
                <input type="text" class="form-control" [(ngModel)]="adminData.password" placeholder="Password">
              </div>
  
  
            </div>  
          </div>
        <div class="form-group column">
          <button type="submit" class="btn btn-success" (click)="login()">Login</button>
          <p *ngIf="!loginClient">Login for  <a class="clickable" (click)="loginClient = true">Client</a></p>
          <p *ngIf="loginClient">Login for  <a class="clickable" (click)="loginClient = false">Admin</a></p>
        </div>
      </div>
    </div>