<div class="airliners">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Airliners</h5>
    </div>
    <div class="card-body">
      <div class="card-list">
        <div class="card clickable" *ngFor="let airline of airliners; let i = index;" (click)="onSelect(airline, i)" [ngClass]="{'selected': airline.isSelected}" >
          <div class="logo">
            <img src="../../../../assets/images/icon/{{airline.code}}.png" alt="">
          </div>
          <div class="details">
            <div class="name">{{airline.name}}</div>
            <div class="nationality">{{airline.nationality}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>