<div class="airliners">
  <div class="card">
    <div class="card-header">
      Airliners
    </div>
    <div class="card-body">
      <div class="card-list">
        <div class="card clickable" *ngFor="let airline of airliners; let i = index;">
          <div class="logo">
            <img src="../../../../assets/images/icon/{{airline.id}}.png" alt="">
          </div>
          <div class="details">
            <div class="name">{{airline.name}}</div>
            <div class="nationality">{{airline.nationality}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>