.admin-dashboard {
  .content {
    padding: 150px 30px 30px;
    min-height: stretch;
    margin-top: -30px;
    background: url("../../../../assets/images/bg/booking-bg.jpg");
  }

  .widgets-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .row-contents {
      &:not(:last-child) {
        margin-right: 20px;
      }

      &.airlines {
        width: 25%;
      }

      &.flights {
        width: 75%;
      }
    }
  }
}
