.content {
    padding: 0 30px 30px;
    min-height: calc(100vh - 123px);
    position: relative;
    padding-top: 100px;

  
}
.card{
    background-color: rgba(73, 125, 247, 0.599);
}
label{
    color: rgb(255, 255, 255);
}
